APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a20305f000a1a0251d2
APPWRITE_API_KEY=
MOONA_DATABASE_ID=moona
MOONA_IMAGE_BUCKET_ID=item_images
MOONA_ADMIN_USER_IDS=
MOONA_DEFAULT_LANGUAGE=ar
MOONA_DEFAULT_THEME=light
